<div class = "content">
  <h2 class = "register">アカウントの情報を入力して下さい</h2>

  <%= form_for(@user, url: user_registration_path) do |f| %>
    <%= render "devise/shared/error_messages", resource: @user %>

    <div class="each-form">
      <div class='weight-bold-text'>
        <label class="form-text">お名前(name)</label>
        <span class="indispensable">必須</span>
      </div>
      <div class='input-name-wrap'>
        <%= f.text_area :last_name, class:"supports-text", id:"last-name", placeholder:"例) 山田" %>
        <%= f.text_area :first_name, class:"supports-text", id:"first-name", placeholder:"例) 陸太郎" %>
      </div>
    </div>
    <div class="each-form">
      <div class='weight-bold-text'>
        <label class="form-text">お名前カナ(全角)</label>
        <span class="indispensable">必須</span>
      </div>
      <div class='input-name-wrap'>
        <%= f.text_area :last_name_kana , class:"supports-text", id:"last-name-kana", placeholder:"例) ヤマダ" %>
        <%= f.text_area :first_name_kana , class:"supports-text", id:"first-name-kana", placeholder:"例) リクタロウ" %>
      </div>
    </div>

    <div class="each-form">
      <div class='weight-bold-text'>
        <label class="form-text">電話番号</label>
        <span class="indispensable">必須</span><br />
      </div>
      <%= f.text_field :phone_number, class:"supports-text" %>
    </div>

    <div class="each-form">
      <div class='weight-bold-text'>
        <label class="form-text">メールアドレス</label>
        <span class="indispensable">必須</span><br />
      </div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"supports-text" %>
    </div>

    <div class="each-form">
      <div class='weight-bold-text'>
        <label class="form-text">パスワード</label>
        <span class="indispensable">必須</span><br />
      </div>   
      <%= f.password_field :password, autocomplete: "new-password", class:"supports-text",placeholder:"(6 characters minimum)" %>
    </div>

    <div class="each-form">
      <div class='weight-bold-text'>
        <label class="form-text">パスワード(確認)</label>
        <span class="indispensable">必須</span><br />
      </div>  
      <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"supports-text"%>
    </div>

    <div >
      <%= f.submit "Next" ,class: "register-button"%>
    </div>
  <% end %>

  <div class= "session-button">
    <%= render "devise/shared/links"%>
  </div>
</div>