<div class = "content">  
  <h2>住所情報登録</h2>

  <%= form_for @address do |f| %>
    <%= render "devise/shared/error_messages", resource: @address %>

    <div class="each-form">
      <div class='weight-bold-text'>
        <label class="form-text">郵便番号</label>
        <span class="indispensable">必須</span><br />
      </div><br />
      <%= f.text_field :postal_code, class:"supports-text",placeholder:"(ハイフンを含めて下さい)" %>
    </div>

    <div class="each-form">
      <div class='weight-bold-text'>
        <label class="form-text">都道府県</label>
        <span class="indispensable">必須</span><br />
      </div><br />
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"supports-text-prefecture", id:"item-prefecture"}) %>
    </div>

    <div class="each-form">
      <div class='weight-bold-text'>
        <label class="form-text">市区町村</label>
        <span class="indispensable">必須</span><br />
      </div><br />
      <%= f.text_field :city , class:"supports-text"%>
    </div>

    <div class="each-form">
      <div class='weight-bold-text'>
        <label class="form-text">番地</label>
        <span class="indispensable">必須</span><br />
      </div><br />
      <%= f.text_field :house_number, class:"supports-text" %>
    </div>

    <div class="each-form">
      <div class='weight-bold-text'>
        <label class="form-text">建物・部屋番号</label><br />
      </div><br />
      <%= f.text_field :building_number, class:"supports-text" %>
    </div>

    <div class="actions">
      <%= f.submit "登録",class: "register-button" %>
    </div>
  <% end %>

  <div class= "session-button">
    <%= render "devise/shared/links" %>
  </div>
</div>