<div class = "content">
  <h2 class = login>ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class='login-flash-message'>
      <%#= flash[:notice]="ログイン、またはアカウントを作成して下さい" %>
    </div>
    <div class="each-form">
      <div class='weight-bold-text'>
        <label class="form-text">メールアドレス</label>
        <span class="indispensable">必須</span><br />
      </div><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"supports-text"%>
    </div>

    <div class="each-form">
      <div class='weight-bold-text'>
        <label class="form-text">パスワード</label>
        <span class="indispensable">必須</span><br />
      </div><br />
      <%= f.password_field :password, autocomplete: "current-password" , class:"supports-text"%>
    </div>

    <div >
      <%= f.submit "Log in" ,class:"session-button"%>
    </div>

    <% if devise_mapping.rememberable?%>
      <div class="help-form">
        <%= f.check_box :remember_me ,class: "forget"%>
        <%= f.label :remember_me %>
      </div>
    <% end %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
