<%= form_with model: @support, class: 'form', local: true do |f| %>
  <%= render 'error_messages', model: f.object %>
 
  <div class="support">
    <div class="weight-bold-text">
      欲しいもの
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :item, class:"items-text", id:"item-name", placeholder:"例(学習机、塾代三ヶ月、本)", maxlength:"40" %>
    
    <div class="price-content">
      <div class="price-text">
        <span>金額</span>
        <span class="indispensable">必須</span>
      </div>
      <span class="sell-yen">¥</span>
      <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）300" %>
    </div>

    <div class="items-explain">
      <div class="weight-bold-text">
        なぜ欲しいか説明してください
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :reason, class:"items-text", id:"item-info", placeholder:"私は、将来医者になりたいです。そのためにいっぱい勉強する必要があります。しかし、母子家庭のため欲しい本が買えないので困っています" ,rows:"7" ,maxlength:"1000" %>
    </div>

    <div class="status">
      <div class="weight-bold-text">
        あなたのことについて教えてください
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :status, class:"items-text", id:"item-info", placeholder:"私は今、中学３年生でこれから受験です。
      母子家庭で、あまり裕福ではありません。塾に通うお金もないのでせめていい参考書を使いたいです。" ,rows:"7" ,maxlength:"1000" %>
    </div>

    <div class="img-upload">
      <div class="weight-bold-text">
        画像
        <span class="indispensable">任意</span>
      </div>
      <div class="click-upload">
        <p>
          あなたの顔写真、もしくは、何か見せたい画像があれば載せて下さい
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
      <div id="image-list" class="image-list"></div>
    </div>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>
<%=link_to 'もどる', root_path, class:"back-btn" %>
