<div class="content">
  <div class="support-up">
    <div class="show-pic">
      <% if @support.image.attached? %>
        <%= image_tag @support.image, class:"show-picture" %>
      <% else %>
        <%= image_tag "46477.jpg", class:"show-default" %>
      <% end %>
    </div>
    <div class ="show-right">
      <div class="support-user">
        <div class = "title">お名前</div>
        <div class="support-content"><%= @support.user.last_name + @support.user.first_name %> さん</div>
      </div>
      <div class="support-date">
        <div class = "title">登録日</div>
        <div class="support-content"><%= @support.created_at.strftime('%Y/%m/%d')  %></div>
      </div>
      <div class="support-item">
        <div class = "title">欲しいもの</div>
        <div class="support-content"><%= @support.item %></div>
      </div>
      <div class="support-item">
        <div class = "title">目標金額</div>
        <div class="support-content"><%= @support.price %></div>
      </div>
      <div class="support-item">
        <div class = "title">これまでの支援金額</div>
        <div class="support-content"><%= @total %></div>
      </div>
    </div>
  </div>

  <div class="support-down">
    <div class="support-reason">
      <div class = "title">欲しい理由</div>
      <div class="support-content"><%= @support.reason %></div>
    </div>

    <div class="support-status">
      <div class = "title">今の現状</div>
      <div class="support-content"><%= @support.status %></div>
    </div>
  </div>

  <%= link_to support_orders_path(@support), class: "donate" do %>
    <div class = "donate-string">寄付</div>
  <% end %>

  <div class="container">
    <p class = "donate-attention">もし、<%= @support.user.last_name%>さんが役立つ情報があれば共有しましょう</p>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments.present? %>
        <% @comments.each do |comment|  %>
          <p class = "comment">
            <strong><%= comment.user.last_name %>さん：</strong>
            <%= comment.content %>
          </p>
        <% end %>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <%= form_with(model: [@support, @comment], local: true ) do |form|  %>
        <div class = "comment-push">
          <%= form.text_area :content, placeholder: "コメントする", rows: "2",class: "comment-form"%>
          <%= form.submit "コメントする" ,class: "comment-submit"%>
        </div>
      <% end %>

      <%= link_to support_path(@support), class: "donate-back" do %>
        <div class = "donate-string">戻る</div>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>


    <% if user_signed_in?  %>
      <% if  current_user.id == @support.user_id%>
        <%= link_to "編集", edit_support_path(@support), method: :get, class: "edit-btn" %>
      <% end %>
    <% end %>

  </div>

  <div><br/><br/><br/><br/></div>
</div>
  