<div class="support-show">
  <div class="support-box">
    <h2 class="name">
      <%= @support.user.last_name + @support.user.first_name %>
    </h2>
    <div class="support-img-content">
      <% if @support.image.attached?%>
      <%= image_tag @support.image ,class:"support-box-img" %>
      <% end %>
    </div>
    <div class="support-price-box">
      <span class="support-price">
        <%= @support.price%>
      </span>
    </div>

    <% if user_signed_in?  %>
      <% if  current_user.id == @support.user_id%>
        <%#= link_to "商品の編集", edit_support_path(@support), method: :get, class: "support-red-btn" %>
        <p class="or-text">or</p>
        <%#= link_to "削除", support_path(@support), method: :delete, class:"support-destroy" %>
      <% else  %>
        <%#= link_to "購入画面に進む", support_orders_path(@support) ,class:"support-red-btn"%>
      <% end %>
    <% end %>



    <div class="support-explain-box">
      <span><%= @support.reason %></span>
    </div>
    <div class="support-status-box">
      <span><%= @support.status %></span>
    </div>
  </div>
</div>
  
<div class = "donate">
  <%= link_to "寄付する",  "/supports/1/orders" %>
</div>